* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --danger-color-- : #ff0000;
    --black-color-- : #000;
    --white-color-- : #fff;
    --success-color-- : #00ff00;
}

/* Common Properties */

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.py {
    padding-block: 100px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-justify {
    text-align: justify;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 20%;
}

.w-6 {
    width: 16.66%;
}